@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-zinc-100);
  --foreground: var(--color-zinc-800);
  --muted-background: #fbfbfb;
  --primary: #9153f4;
  --primary-dark: #6d2dd3;

  --card: #f6f6f6;
  --card-border: #ebebeb;

  /* .bg-header {
    background-image: url("/header.png");
  }*/
  .bg-header {
    background-image: linear-gradient(
      to right,
      #002f85,
      #412a83,
      #61237e,
      #7a1976,
      #8e0c6c,
      #880b5d,
      #810d50,
      #791144,
      #5b1433,
      #3e1324,
      #230e15,
      #000000
    );
  }
}

.dark {
  --background: var(--color-gray-900);
  --foreground: #fdf7f8;
  --muted-background: #18212f;
  --card: #1f2937;

  .bg-header {
    background-image: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-muted-background: var(--muted-background);
  --color-card: var(--card);
  --color-card-border: var(--card-border);

  --font-sans: var(--font-inter);
  --font-poppins: "Poppins", sans-serif;
}

/* Waving Hand Animation */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Hover animation */
.wave-hover {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.wave-hover:hover {
  animation: wave 1s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Rubik;
}
